/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* General Styles */

html {
    font-size: 16px;
}

body {
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    color: #a4a4a4;
}

img {
    width: 100%;
}

section {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

p {
    font-weight: 300;
}

.content-wrapper {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.divider-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.divider {
    height: 1px;
    width: 80px;
    background: #000000;
}

/* Header Styles */

header {
    display: flex;
    justify-content: center;
    background: #797979;
    padding: 220px 0 80px;
    color: #ffffff;
}

.logo {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
}

.logo figure {
    display: flex;
    justify-content: center;
    width: 30%;
    margin: 0 0 100px 0;
}

.header-content {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-flow: row wrap;

}

.header-content h1 {
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 2.125em;
    letter-spacing: 0.25em;
    width: 100%;
}

.header-divider {
    height: 2px;
    width: 105px;
    display: flex;
    margin: 20px 0 40px;
    background: #ffffff;

}

.header-content p {
    font-size: 0.875em;
    width: 100%;
    text-align: center;
    letter-spacing: 0.1em;
    margin-bottom: 155px;
}

header button {
    background: #797979;
    border: 1px solid #ffffff;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1em;
    padding: 15px 40px;
}

.arrow-icon {
    width: 100%;
    text-align: center;
}

.arrow-icon p {
    margin: 0;
    padding: 60px 0;
    font-size: 2em;
}

/* Menu Styles */

.about-header {
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: solid 1px #f2f2f2;
}

.about-header .about-wrapper {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 80%;
}

.about-header h3 {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    color: #3c3c3c;
    width: 100%;
    text-align: center;
    padding: 50px;
    font-size: 1.625em;
}

.about-header nav {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.about-header nav ul {
    padding: 0;
    margin: 0;
    width: 100%;
    margin-bottom: 50px;
}

.about-header nav ul li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-transform: uppercase;
    font-size: 1.75em;
    line-height: 1.75em;
}

.about-header nav ul li a {
    text-decoration: none;
    color: #3c3c3c;
}

.about-header nav ul li a:hover {
    color: #ada074;
}

/* About Styles */

.about-main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-bottom: 30px;
}

.about-main h2 {
    font-size: 2.125em;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    color: #000000;
    letter-spacing: .175em;
}

.about-main p {
    width: 50%;
    text-align: center;
    font-size: 0.875em;
}

.about-grid {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.about-grid-item {
    width:100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ada074;
    border: solid 2px #f0f0f0;
    border-radius: 180px;
    width: 90px;
    height: 90px;
    text-align: center;
}

.icon .fas {
    font-size: 2.125em;
}

.about-grid-item h3 {
    width: 100%;
    color: #000000;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.625em;
    text-align: center;
    letter-spacing: .175em;
}

.about-grid-item p {
    font-size: 0.875em;
    text-align: center;
    line-height: 2em;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 768px) {
       /* General styles */
       .content-wrapper,
       .about-wrapper {
           max-width: 640px;
       }

       .logo figure {
           width: 20%;
       }

       .about-header nav ul {
           display: flex;
           justify-content: center;
       }

       .about-header nav ul li {
           font-size: 1.25em;
       }

       .about-grid-item {
           width:30%;
           justify-content: space-around;
       }
   }

   @media only screen and (min-width: 1200px) {
       /*Desktop styles here */
        .content-wrapper,
        .about-wrapper {
            max-width: 960px;
            width: 47%;
        }

        .logo figure {
            width: 10%;
        }

        .about-header .about-wrapper {
            display: flex;
            justify-content: space-between;
            flex-flow: row nowrap;
            padding: 10px 0;
            width: 47%;
        }

        .about-header h3 {
            width: 10%;
            padding: 0;
        }

        .about-header nav {
            width: 50%;
            min-width: 375px;
        }

        .about-header nav ul {
            margin: 0;
        }

        .about-header nav ul li {
            font-size: 0.9375em;
        }
    }


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
